{% extends "base.html" %}
{% block content %}
    <h1 class="about-heading">About Us</h1>

    <p class="about-paragraph">
    Welcome to <span>Echoes n Insights</span>, where creativity meets expression. We are passionate about writing and sharing ideas that inspire, inform, and entertain. 
    Our platform is dedicated to cultivating a community of writers and readers who value insightful content and meaningful conversations.
    </p><br/>

    <p class="about-paragraph">
    At <span>Echoes n Insights</span>, we believe that every voice deserves to be heard. Whether you're a seasoned writer or just starting your blogging journey, 
    this is your space to explore, create, and connect. Join us as we embark on a journey of discovery through the power of words.
    </p><br>

    <button class="join-button" onclick="window.location.href='register';">Join Our Community</button>
{% endblock content %}

