{% extends "base.html" %}
{% block content %}
<article class="media content-section">
  <!------------------------------------------------- Image Display-------------------------------------------------------------->
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+post.author.image_file) }}">
  <!------------------------------------------------- Main div ------------------------------------------------------------------>
  <div class="media-body d-flex flex-column">
    <!------------------------------------------------- Username and Date div -------------------------------------->
    <div class="d-flex justify-content-between align-items-center">
      <a class="mr-2" href="{{ url_for('user_post', username= post.author.username) }}" style="margin-bottom: 2px; border-bottom: 1px solid #8d8b8b;">{{ post.author.username }}</a>
      <small class="text-muted" style="margin-bottom: 2px; ">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
    </div><br/>
    <!------------------------------------------------- Post title and buttons -------------------------------------->
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="mb-0">
          <a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
      </h2>
      {% if post.author == current_user %}
        <div class="row">
          <div class="col">
            <a class="btn btn-secondary btn-sm mt-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
          </div>
      {% endif %}
        </div>
    </div><br/>
    <!------------------------------------------------- Post content ------------------------------------------------>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
<!------------------------------------------------- Modals ------------------------------------------------>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete the Post ??</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure? Do you still wish to delete your contribution !!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form method="POST" action="{{ url_for('delete_post', post_id= post.id) }}">
          <input type="submit" class="btn btn-danger m-1" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}