{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}" alt="UserProfilePicture">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data"> <!-- action="" -> routes to the same route we are in when posted-->
            {{ form.hidden_tag() }} <!-- Adding csrf token-->
            <fieldset class="form-group">
                <!-------------------  Adding heading  --------------------------->
                <legend class="styled-legend"><h3>Account Info</h3></legend><br><br>
                <!-------------------Div for username ---------------------------->
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        &ensp;<h5>{{ form.username.label(class="form-control-label") }}</h5>
                    </div>
                    <!-- Handling the errors -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    <!-- Handling the errors -->
                    {%else%}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div><br/>
                <!-------------------Div for email ---------------------------->
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                        &ensp;<h5>{{ form.email.label(class="form-control-label") }}</h5>
                    </div>
                    <!-- Handling the errors -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    <!-- Handling the errors -->
                    {%else%}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}                  
                </div><br/>
                <!------------ Div for file field (profile picture) ------------->
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-camera"></i>
                            </span>
                        </div>
                        &ensp;<h5>{{ form.picture.label() }}</h5>
                    </div>
                    {{ form.picture(class="form-control-file") }}
                    <!-- Handling the errors -->
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger"> {{ error }}</span><br/>
                        {% endfor %} 
                    {% endif %}
                </div>
            </fieldset>
            <!------------------- Div for submit button -------------------------->
            <div class="form-group">
                <br/>
                {{ form.submit(class="btn btn-dark")}}
            </div>
            <!-------------------Div for submit button --------------------------->
        </form>
    </div>   
{% endblock content %}