{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data"> <!-- action="" -> routes to the same route we are in when posted-->
            {{ form.hidden_tag() }} <!-- Adding csrf token-->
            <fieldset class="form-group">
                <!-------------------  Adding heading  --------------------------->
                <legend class="border-bottom mb-4"><h3>Reset Password</h3></legend>
                <!-------------------Div for email ---------------------------->
                <div class="form-group">
                    <h6>{{ form.email.label(class="form-control-label") }}</h6>
                    <!-- Handling the errors -->
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    <!-- Handling the errors -->
                    {%else%}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}                   
                </div>
            </fieldset>
            <div class="form-group">
                <br/>
                {{ form.submit(class="btn btn-primary")}}
            </div>
        </form>
    </div>
{% endblock content %}